@{
    ViewData["Title"] = "Gestión Documental";
}

<style>
    .padding-0 {
        padding-right: 1px;
        padding-left: 1px;
    }
</style>

<div class="row row-cards">
    <form action="" method="post" class="card">
        <div class="card-header">
            <h4 class="card-title">Gestion Documental</h4>
        </div>

        <div class="card-footer text-end">
            <div class="d-flex">
                <a href="#" class="btn btn-link">Cancelar</a>
                <button type="submit" class="btn btn-primary ms-auto">Guardar</button>
            </div>
        </div>

        <div class="card-body">

            <div class="row no-gutters">

                <div class="col-md-3 padding-0">
                    <label class="form-label">Numero Radicado</label>
                    <input type="text" class="form-control" name="example-text-input" placeholder="Numero Radicado">
                </div>

                <div class="col-md-3 padding-0">
                    <label class="form-label">Numero Factura</label>
                    <input type="text" class="form-control" name="example-text-input" placeholder="Numero factura">
                </div>

                <div class="col-md-3 padding-0">
                    <label class="form-label">Tipo Presentacion</label>
                    <input type="text" class="form-control" name="example-text-input" placeholder="Tipo Presentacion">
                </div>

                <div class="col-md-3 padding-0">
                    <label class="form-label">TipoRadicacion</label>
                    <input type="text" class="form-control" name="example-text-input" placeholder="Tipo Radicacion">
                </div>

            </div>

            <div class="row no-gutters">

                <div class="col-md-4 padding-0">
                    <label class="form-label">Fecha</label>
                    <input type="text" class="form-control" name="example-text-input" placeholder="Fecha Radicacion">
                </div>

                <div class="col-md-4 padding-0">
                    <label class="form-label">Usuario</label>
                    <input type="text" class="form-control" name="example-text-input" placeholder="Usuario">
                </div>

                <div class="col-md-4">
                    <label class="form-label padding-0">Registro</label>
                    <input type="text" class="form-control" name="example-text-input" placeholder="Fecha Registro">
                </div>


            </div>

            <div class="row g-2 align-items-center">
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <a href="#" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#modal-datos-reclamante">
                        Datos Reclamante
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <a href="#" class="btn btn-secondary w-100" data-bs-toggle="modal" data-bs-target="#modal-datos-victima">
                        Datos Victima
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3" data-bs-toggle="modal" data-bs-target="#modal-datos-evento">
                    <a href="#" class="btn btn-success w-100">
                        Datos Evento
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <a href="#" class="btn btn-warning w-100" data-bs-toggle="modal" data-bs-target="#modal-datos-vehiculo">
                        Datos Vehiculo
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <a href="#" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#modal-datos-propietario">
                        Datos propietario
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <a href="#" class="btn btn-info w-100" data-bs-toggle="modal" data-bs-target="#modal-datos-conductor">
                        Datos Conductor
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3" data-bs-toggle="modal" data-bs-target="#modal-visualizador-pdf">
                    <a href="#" class="btn btn-dark w-100">
                        Visualizar Fisico
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Validacion Documental</h3>
                </div>

                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                        <thead>
                            <tr>
                                <th>Fisico</th>
                                <th colspan="2">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="text-secondary">EPICRISIS</span></td>
                                <td>
                                    <span class="badge bg-success me-1"></span> Entregado
                                </td>
                            </tr>

                            <tr>
                                <td><span class="text-secondary">Factura</span></td>
                                <td>
                                    <span class="badge bg-success me-1"></span> Entregado
                                </td>
                            </tr>

                            <tr>
                                <td><span class="text-secondary">Otros</span></td>
                                <td>
                                    <span class="badge bg-success me-1"></span> Entregado
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </form>

</div>

<!-- Datos reclamante -->
<div class="modal modal-blur fade" id="modal-datos-reclamante" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Datos Reclamante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row mb-3 align-items-end">
                    <div class="col-5">
                        <label class="form-label">Tipo Documento</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-7">
                        <label class="form-label">Numero Documento</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col-4">
                        <label class="form-label">Codigo Habilitacion</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-8">
                        <label class="form-label">Razon Social</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col-8">
                        <label class="form-label">Direccion</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-4">
                        <label class="form-label">Telefono</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col">
                        <label class="form-label">Departamento</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col">
                        <label class="form-label">Municipio</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Datos victima -->
<div class="modal modal-blur fade" id="modal-datos-victima" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Datos Victima</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row mb-3 align-items-end">
                    <div class="col-3">
                        <label class="form-label">Primer Apellido</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Segundo Apellido</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Primer nombre</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Segundo nombre</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col-3">
                        <label class="form-label">Tipo Documento</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Numero dDocumento</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Sexo</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Fecha Nacimiento</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col-8">
                        <label class="form-label">Direccion</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-4">
                        <label class="form-label">Telefono</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col">
                        <label class="form-label">Departamento</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col">
                        <label class="form-label">Municipio</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col-4">
                        <label class="form-label">Zona residencia</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-8">
                        <label class="form-label">Condicion Victima</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Datos Evento -->
<div class="modal modal-blur fade" id="modal-datos-evento" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Datos Evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div>
                    <label class="form-label">Descripcion del Evento</label>
                    <textarea class="form-control"></textarea>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col-8">
                        <label class="form-label">Direccion Evento</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-4">
                        <label class="form-label">Fecha Evento</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col-5">
                        <label class="form-label">Departamento</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-4">
                        <label class="form-label">Municipio</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Zona</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Datos Vehiculo -->
<div class="modal modal-blur fade" id="modal-datos-vehiculo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Datos Vehiculo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row mb-3 align-items-end">
                    <div class="col-4">
                        <label class="form-label">Placa</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-4">
                        <label class="form-label">Marca</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-4">
                        <label class="form-label">Esrado Aseguramiento</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col-4">
                        <label class="form-label">Tipo vehiculo</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-4">
                        <label class="form-label">Codigo Aseguradora</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-4">
                        <label class="form-label">Poliza Soat</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col-4">
                        <label class="form-label">Inicio Poliza</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-4">
                        <label class="form-label">Fin Poliza</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-4">
                        <label class="form-label">Int. Autoridad</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Datos propietario -->
<div class="modal modal-blur fade" id="modal-datos-propietario" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Datos Propietario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row mb-3 align-items-end">
                    <div class="col-3">
                        <label class="form-label">Primer Apellido</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Segundo Apellido</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Primer nombre</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Segundo nombre</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col-3">
                        <label class="form-label">Tipo Documento</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Numero dDocumento</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Sexo</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Fecha Nacimiento</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col-8">
                        <label class="form-label">Direccion</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-4">
                        <label class="form-label">Telefono</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col">
                        <label class="form-label">Departamento</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col">
                        <label class="form-label">Municipio</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Datos Conductor -->
<div class="modal modal-blur fade" id="modal-datos-conductor" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Datos Conductor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row mb-3 align-items-end">
                    <div class="col-3">
                        <label class="form-label">Primer Apellido</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Segundo Apellido</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Primer nombre</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Segundo nombre</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col-3">
                        <label class="form-label">Tipo Documento</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Numero dDocumento</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Sexo</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="form-label">Fecha Nacimiento</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col-8">
                        <label class="form-label">Direccion</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col-4">
                        <label class="form-label">Telefono</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3 align-items-end">
                    <div class="col">
                        <label class="form-label">Departamento</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="col">
                        <label class="form-label">Municipio</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>               

            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Visor PDF-->
<div class="modal modal-blur fade" id="modal-visualizador-pdf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full-width modal-fullscreen modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Visualizador de Fisicos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Visualizador PDF
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>