@{
    ViewData["Title"] = "Informes de Auditoria";
}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Informes de Auditoria</h3>
                </div>                
            </div>                
        </div>
    </div>
    
