@{
    ViewData["Title"] = "Roles";
}

    <div class="text-center">
        <h1 class="display-4">Auditorías Médicas de la Sabana S.A.S</h1>
        <p>Bienvenido a nuestra plataforma de auditoria.</p>
        <p>@DateTime.Now</p>
    </div>
